<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/../web/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/../web/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/../web/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
    <div class='container'>
        <h1>Title Case Translator</h1>
        <p>Enter the phrase you would like translated into title case</p>
        <form action='/view_title_case'>
            <div class='form-group'>
              <label for='phrase'>Phrase:</label>
              <input id='phrase' name='phrase' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Translate</button>
        </form>
    </div>
</body>
</html>
